
.container  a{
    text-decoration: none;
}

.title{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;

}

.payment_section{
    
    border-bottom: 1px solid lightgray;
}


